@media only screen and (max-width:1030px){
    .find{
        font-size: 3.5rem;
    }

    .browse{
        font-size: 1.1rem;
        width: 70vw;
    }

    .btn {
        font-size: .8rem;
        margin-top: 30px;
        padding: 10px 60px;
    }
}

@media only screen and (max-width:900px){
    .find{
        font-size: 3rem;
        width: 70vw;
    }

    .browse{
        font-size: 1.1rem;
        width: 80vw;
    }

    .btn{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media only screen and (max-width:500px){
    .find{
        font-size: 2.2rem;
        width: 100vw;
        margin: 0px 15px;
    }

    .browse{
        font-size: 0.9rem;
        width: 100vw;
        margin: 10px 15px;
    }

}





