*{
    margin: 0;
    padding:0;
    overflow-x: hidden;
}


.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.txt-sec{
    display: flex;
    justify-content: space-evenly;
    font-family: "ABeeZee", sans-serif;
}
.txt-sec p{
    padding:30px;
    font-size: 0.85rem;
}
.txt-sec p:hover{
    background-color: aqua;
    padding:10px 15px;
}

h1{
    margin-top: 20px;
    margin-right: 40px;
}

.icon1{
    height: 24px;
    width: 24px;
    margin-top: 20px;

}
.icon2{
    height: 20px;
    margin-top: 20px;
    width: 20px;
}

.icon{
    width:548px;
    height: 48px;
    border-radius: 62px;
    margin-right: 150px;
}


.container-2{
    display: flex;
    align-items: center;
    padding-left:200px;
    height:663px;
    width:1440px;
    background-color: #F2F0F1;
    background-image: url("Rectangle\ 2.png");
    background-size: cover;
}

.find{
    width:40vw;
    color:#000000;
    font-family: "Abril Fatface", serif;
    font-size: 60px;
}

.browse{
    width:35vw;
    margin-top: 30px;


}
.btn{
    background-color: #000000;
    color:white;
    width:210px;
    height:52px;
    border-radius: 62px;
    margin-top: 30px;

}

.percent{
    display: flex;
}

.int{
    font-size: 0.85rem;
    font-family: "ABeeZee", sans-serif;
}

.container-3{
    display: flex;
    color:#FFFFFF;
    justify-content:space-evenly;
    font-family: "Abril Fatface", serif;
    align-items: center;
    width: 1440px;
    height:122px;
    background-color: #000000;
}

.container-4{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#000000;
    font-size: 2rem;
}

.container-5{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.box1{
    width: 295px;
    height: 298px;
    background-color: #F0EEED;
    border-radius: 20px;
    background-image: url(image\ 7.png);
    background-size: cover;
}

.box2{
    width: 295px;
    height: 298px;
    background-color: #F0EEED;
    border-radius: 20px;
    background-image: url("image\ 8.png");
    background-size: cover;

}
.box3{
    width: 295px;
    height: 298px;
    background-color: #F0EEED;
    border-radius: 20px;
    background-image: url("Frame\ 34.png");
    background-size: cover;
}
.box4{
    width: 295px;
    height: 298px;
    background-color: #F0EEED;
    border-radius: 20px;
    background-image: url("Frame\ 38.png");
    background-size: cover;

}

